<?xml version='1.0' encoding='utf-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- 数据库连接
		<property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/ssh?characterEncoding=utf8</property>
		<property name="connection.username">werp</property>
		<property name="connection.password">werp</property>
		 -->
		<!-- 连接池大小
		<property name="connection.pool_size">10</property>
		 -->
		<!-- SQL方言 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Spring 事务管理 -->
		<property name="current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</property>
		
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- 显示sql -->
		<property name="show_sql">true</property>
		<!-- 格式化sql -->
		<property name="format_sql">true</property>

		<!-- 启动是自动创建数据库 -->
		<property name="hbm2ddl.auto">none</property>

		<!-- orm映射文件 
		<mapping resource="com/oracle/csg/li/SysUser.hbm.xml" />
		-->
	</session-factory>

</hibernate-configuration>