/* ::::: 收藏夹 ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, i, b { padding: 0px; margin: 0px; }
body, button, input, select, textarea { font: 12px/1.5 tahoma,arial,'宋体'; color: rgb(62, 62, 62); }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, th, var, i, b { font-weight: normal; font-style: normal; }
ol, ul { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
q::before, q::after { content: ""; }
input, textarea, a, button { outline: medium none; }
.clear::after { content: "."; display: block; clear: both; visibility: hidden; height: 0px; }
.clear {  }
a {  }
a { text-decoration: none; }
a:link { color: rgb(62, 62, 62); }
a:visited { color: rgb(62, 62, 62); }

html, body, div, object, iframe, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, fieldset, form, label, legend, button, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, a, abbr, address, acronym, cite, code, del, dfn, em, img, ins, kbd, q, span, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, section, article, aside, header, footer, nav, menu, hgroup, dialog, details, summary, figure, figcaption, canvas, embed, output, ruby, time, mark, audio, video { margin: 0px; padding: 0px; }
html { color: rgb(51, 51, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
body { line-height: 1; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
ul, ol, li { list-style: outside none none; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
input, textarea, select { font-family: inherit; font-weight: inherit; font-size: inherit; }
input, textarea, select {  }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
a:link, a:visited { text-decoration: none; }
a:hover, a:active, a:focus { text-decoration: underline; outline: 0px none; }
input[type="radio"], input.radio, input[type="checkbox"], input.checkbox { margin-right: 3px; vertical-align: middle; }
input[type="text"], input.text, input[type="password"], input.password { padding: 4px; border: 1px solid rgb(204, 204, 204); }
input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus, input.text:hover, input.text:active, input.text:focus, input[type="password"]:hover, input[type="password"]:active, input[type="password"]:focus, input.password:hover, input.password:active, input.password:focus { border-color: rgb(187, 187, 187); }
.pr { position: relative; }
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clear { height: 0px; clear: both; font-size: 0px; overflow: hidden; visibility: hidden; }
.clearfix {  }
.clearfix::after { visibility: hidden; display: block; font-size: 0px; content: "."; clear: both; height: 0px; }
.hidden { display: none; }
.ptb20 { padding-top: 20px; padding-bottom: 20px; }
.fwb { font-weight: bold; }

body { font: 12px/1.5 Tahoma,Arial,'微软雅黑','宋体'; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
a:link, a:visited { color: rgb(51, 51, 51); text-decoration: none; }
a:hover, a:active, a:focus { color: rgb(245, 122, 17); text-decoration: underline; }
.gray { color: rgb(128, 128, 128) ! important; }
.orange { color: rgb(244, 122, 17) ! important; }

.container { width: 1190px; min-width: 1190px; margin: 0px auto; }
/*.topbar { min-width: 1190px; border-bottom: 1px solid rgb(221, 221, 221); line-height: 30px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.topbanner a.close::after, .topbanner a.pack::after { display: block; width: 100%; height: 100%; line-height: 18px; content: "关闭"; text-align: center; color: rgb(255, 255, 255); font-family: sans-serif; }
.topbanner a.pack::after { content: "收起"; }
.site-search .search-top li::after { content: ""; width: 1px; height: 12px; position: absolute; right: 0px; top: 4px; background: rgb(233, 233, 233) none repeat scroll 0% 0%; }
.main-nav li::before, .main-nav li::after { position: absolute; right: 0px; top: 16px; content: ""; width: 1px; height: 16px; background: rgb(0, 112, 42) none repeat scroll 0% 0%; }
.main-nav li::after { left: auto; right: -1px; background-color: rgb(1, 171, 65); }
.main-nav li.market::before, .main-nav li.market::after { display: none; }
.category .label dt a::before, .category .label dt a::after { position: absolute; content: " "; display: block; width: 0px; height: 0px; border: 6px solid transparent; top: 4px; }
.category .label dt a::before { right: -20px; border-left-color: rgb(178, 178, 178); }
.category .label dt a::after { right: -18px; border-left-color: rgb(248, 248, 248); }
.category .label dl.hover dt a::after { border-left-color: rgb(238, 238, 238); }
.category .sub-cate.columns:nth-child(2n+1) { border-right: 1px solid rgb(204, 204, 204); }
.footer { clear: both; background: rgb(221, 221, 221) none repeat scroll 0% 0%; }
.footer .ptb20 { padding-top: 20px; padding-bottom: 20px; }
.footer .foot-qr { float: left; padding: 0px 15px 0px 25px; }
.footer .foot-qr .qrcode { float: left; width: 96px; margin: 0px 4px; }
.footer .foot-qr .qrcode img { display: block; width: 84px; height: 84px; margin: 0px auto; padding: 6px; vertical-align: top; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.footer .foot-qr .qrcode p { padding: 2px 0px; line-height: 18px; text-align: center; }
.footer .foot-qr .qrcode p span { display: block; white-space: nowrap; }
.footer .foot-nav { float: left; max-width: 940px; margin: 0px; text-align: left; line-height: 14px; }
.footer .foot-nav li { float: left; display: inline; margin-right: 8px; margin-bottom: 6px; padding-right: 8px; border-right: 1px solid rgb(102, 102, 102); }
.footer .foot-nav li:last-child { border-right: medium none; }
.footer .foot-nav a { margin: 0px; padding: 0px; }
.footer .foot-nav a:link, .footer .foot-nav a:visited { color: rgb(102, 102, 102); text-decoration: none; }
.footer .foot-nav a:hover, .footer .foot-nav a:active, .footer .foot-nav a:focus { color: rgb(245, 122, 17); text-decoration: none; }
.footer .copyright { float: left; margin: 0px; line-height: 28px; color: rgb(102, 102, 102); }
.footer .copyright .imgs { padding-top: 8px; }
.footer .copyright .imgs a { margin-right: 6px; }
.footer .copyright .imgs img { vertical-align: top; }
.errorWrapper label::after { background: transparent url('error-wrapper-down.png') no-repeat scroll 0px 0px; bottom: -8px; content: " "; height: 16px; position: absolute; left: 18px; width: 16px; }
.errorWrapper-1 label::after { background: transparent url('error-wrapper-left.png') no-repeat scroll 0px 0px; bottom: 4px; content: " "; height: 16px; position: absolute; left: -6px; width: 16px; }
.errorWrapper-2 label::after { background: transparent url('error-wrapper-left.png') no-repeat scroll 0px 0px; bottom: 14px; content: " "; height: 16px; position: absolute; left: -6px; width: 16px; }
*/

body { font: 12px "Microsoft YaHei",Tahoma,Arial,'微软雅黑','宋体'! important; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); min-width: 1200px; }
.wrap { width: 1190px; margin: 0px auto; }
/*
.header { height: 70px; background-color: rgb(31, 170, 80) ! important; }
.header .logo { float: left; margin-top: 17px; }
.header .webname { float: left; margin: 17px 0px 0px 10px; width: 165px; height: 38px; border-left: 1px solid rgb(255, 255, 255); padding-left: 10px; color: rgb(255, 255, 255); }
.header .webname h2 { font-size: 18px; line-height: 24px; }
.header .webname span { font-size: 10px; line-height: 16px; }
*/

body { font: 12px/1.5 "微软雅黑","宋体",Verdana,Arial,Helvetica,sans-serif; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }

.content { overflow: hidden; }

* { margin: 0px; padding: 0px; outline: medium none; border: 0px none; }
body { font-size: 12px; color: rgb(62, 62, 62); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
ul, ol, li { list-style: outside none none; }

a:hover { color: rgb(248, 123, 17); text-decoration: underline; }
a:active { color: rgb(248, 123, 17); text-decoration: none; }
a:visited { color: rgb(62, 62, 62); text-decoration: none; }
#header, #main_content, #footer { width: 980px; margin: 0px auto; }
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }
.gray { color: rgb(170, 170, 170); }
i { font-style: normal; }
.pagebtn{margin-left: 10px;}
.pagebtn li { float: left; margin-right: 5px; line-height: 20px;margin-bottom: 10px; }
.pagebtn li.pagination { display: inline-block ! important; border: 0px none ! important; }
.pagebtn li.pagination a { border: 1px solid rgb(232, 232, 232); color: rgb(0, 146, 55); float: left; line-height: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px 2px; text-align: center; padding: 0px 6px; display: inline-block; height: 20px; }
.pagebtn li.pagination a:hover { border: 1px solid rgb(255, 115, 0); color: rgb(255, 115, 0); text-decoration: none; cursor: pointer; }
.pagebtn li.pagination .pre-disabled, .pagebtn li.pagination .next-disabled { cursor: default; color: rgb(204, 204, 204); }
.pagebtn li.pagination .pre-disabled:hover, .pagebtn li.pagination .next-disabled:hover { border: 1px solid rgb(232, 232, 232); color: rgb(204, 204, 204); }
.pagebtn li.pagination .pre-disabled span { background-position: 0px -178px; cursor: default; }
.pagebtn li.pagination .current { border: medium none; cursor: default; font-weight: bold; color: rgb(255, 115, 0) ! important; background: transparent none repeat scroll 0% 0%; line-height: 24px; }
.pagebtn li.pagination .current:hover { border: medium none; }
.pagebtn input { width: 25px; height: 11px; border: 1px solid rgb(232, 232, 232); vertical-align: middle; }
.pagebtn .btn_qd { width: 36px; height: 20px; border: 1px solid rgb(232, 232, 232); text-align: center; line-height: 18px; display: block; text-decoration: none; color: rgb(0, 146, 55) ! important; }
.clearfix {  }
.clearfix::before, .clearfix::after { display: table; line-height: 0; content: ""; }
.clearfix::after { clear: both; }
.pr { position: relative; }
.hidden { display: none; }
#main_content h3 { color: rgb(51, 51, 51); font-family: "微软雅黑"; font-size: 16px; font-weight: bold; height: 24px; line-height: 24px; margin: 12px 0px; position: relative; vertical-align: middle; }
#main_content h3 img { vertical-align: middle; margin-right: 5px; }
.info-tab-list { margin-bottom: 10px; overflow: hidden;border-top: 1px solid rgb(204, 204, 204); }

.mod-tab-title { display: inline-block; width: 100%; margin: 8px 0px 0px; border-bottom: 1px solid rgb(204, 204, 204); }
.mod-tab-title ul {  }
.mod-tab-title li { float: left; width: 80px; margin: 0px 8px 0px 0px; font-size: 14px; height: 29px; text-align: center; line-height: 29px; background: transparent url('../images/msg_tab02.png') no-repeat scroll 0% 0%; cursor: pointer; }
.mod-tab-title .current { bottom: -1px; margin: 0px 8px 0px 0px; position: relative; background: transparent url('../images/msg_tab01.png') no-repeat scroll 0% 0%; font-weight: bold; }
.mod-tab-title .more { float: right; }
.mod-tab-title .more a { padding: 0px 8px; color: rgb(0, 146, 55); }
.mod-tab-title .more a:hover { color: rgb(255, 115, 0); }

.mod-info-list {border: 1px solid rgb(229, 229, 229);border-top: none;
    border-image: none; width: 970px; height: auto; overflow: hidden;padding-top: 10px; }
a.del-msgs { background: transparent url('../images/258263_426256670.png') no-repeat scroll 0px 0px; width: 65px; height: 22px; line-height: 22px; text-align: center; display: block; overflow: hidden; color: rgb(51, 51, 51); text-decoration: none; }
.mod-info-list .tab-content { width: 970px; height: auto; overflow: hidden; }
.mod-info-list .current { display: block; }
.sc_tabs { width: 100%; height: 30px; overflow: hidden; margin: 10px 0px 10px 10px; }
.sc_tabs li { width: 80px; text-align: center; background: rgb(241, 241, 241) none repeat scroll 0% 0%; float: left; margin-right: 5px; height: 26px; line-height: 26px; color: rgb(102, 102, 102); cursor: pointer; }
.sc_tabs li.current { background: rgb(0, 146, 55) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.sc_in_cont { width: 98%; height: auto; overflow: hidden; margin: 10px; }
.sel_line { margin: 10px; border-bottom: 1px solid rgb(231, 231, 231); height: 30px; }
.sel_line a { float: left; margin-right: 20px; }
.sel_line span { vertical-align: middle; line-height: 22px; margin-right: 20px; }
.sel_line span input { vertical-align: middle; }
.prodlist .sel .del, .sc_tab .del { width: 60px; background: transparent url('../images/del.png') no-repeat scroll left center; text-indent: 18px; cursor: pointer; }
.sc_tab { margin: 0px 10px 20px; width: 970px; }
.sc_tab td { padding: 20px 5px; border-bottom: 1px solid rgb(231, 231, 231); }
.sc_tab .info { float: left; width: 310px; height: 96px; line-height: 24px; }
.sc_tab .tit { float: left; width: 96px; height: 36px; line-height: 18px; overflow: hidden; margin-top: 5px; }
.sc_tab .del { float: left; display: inline; }
.sc_tab p { width: 100%; }
.sc_tab .btns2 { width: 100px; margin: 0px auto; }
.sc_tab .btns2 a { margin: 5px 0px; }
.sc_tab2 td { padding: 5px 0px 5px; }
.sc_tab2 .info { float: none; width: 440px; }
.sc_tab2 .info li { margin: 10px 8px; line-height: 18px; }
.sc_tab2 p { line-height: 25px;line-height: 18px;margin-top: 5px }
.sc_tab2 i {  margin-left: 5px; }
.sc_tab2 .txt { font-size: 14px; }
.sc_tab2 .gray { color: rgb(170, 170, 170); }
.sc_tab2 .green { color: rgb(0, 146, 55); }
.sc_tab2 .red { color: #ff0000; }
.sc_tab2 .tit { font-size: 18px; float: none; margin-top: 20px; width: auto; height: 20px; }
.price {
    color: #ff0000;

    font-size: 14px;
}
.sc_tab2 .tit a:link {
    color: #F47A11;
}
.sc_tab2 .tit a:hover {
    color: rgb(0, 146, 55);
}
.xdsoft_noselect::-moz-selection { background: transparent none repeat scroll 0% 0%; }

.main {margin-bottom: 20px; overflow: hidden; }
.frame-container { float: left; width: 980px; overflow: hidden; }
